body {
    background-size: cover;
    background-position: center;
}
.bts {
    width: 400px;
    border-radius: 20px;
    margin: 30px;
    font-size: 18px;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
.back {
    background-color: black;
    color: white;
    font-size: 20px;
    float: right;
    margin: 10px;
    border-radius: 5px;
}
canvas {
    box-shadow: 10px 10px 10px grey;
     border-radius: 10px;
     margin: 50px;
}